<!DOCTYPE html>
<html lang="en">
<head>
    {% block meta %}
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Easier Local Committees management">
        <meta name="author" content="Angelov Dejan - http://angelovdejan.me">
    {% endblock %}

    {% block facebook_meta %}

        <meta property="og:url"         content="{{ Request.fullUrl() }}" />
        <meta property="og:type"        content="website" />
        <meta property="og:title"       content="{{ page_title }}" />
        <meta property="og:description" content="Storgman - Student Organizations Management" />
        <meta property="og:image"       content="{{ asset('/static/assets/img/eestec-logo.png') }}" />

    {% endblock %}

    <title>{{ page_title }} :: {{ Config.get('main.title') }}</title>

    {% block stylesheets %}
        <link href="{{ asset("/static/assets/build/css/style.css") }}" rel="stylesheet">
    {% endblock %}
</head>

<body>
<div id="fb-root"></div>
<script>(function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) return;
        js = d.createElement(s); js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.6&appId={{ Config.get('services.facebook.client_id') }}";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));</script>

<div class="container">

    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">
                    {{ Config.get('main.title') }}
                </a>
            </div>
            <div class="navbar-collapse collapse">

                {% if Auth.check() %}

                    {% if Auth.user().isBoardMember() %}

                        {# board members main menu #}

                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="/">Dashboard</a></li>
                            <li><a href="{{ route('members.index') }}">Members</a></li>
                            <li><a href="{{ route('fees.index') }}">Membership Fees</a></li>
                            <li><a href="{{ route('meetings.index') }}">Meetings</a></li>
                            <li><a href="{{ route('events.index') }}">Events</a></li>
                            <li><a href="{{ route('documents.index') }}">Documents</a></li>
                        </ul>

                    {% else %}

                        {# non-board members main menu #}

                        <ul class="nav navbar-nav navbar-left">
                            <li><a href="{{ route('meetings.index') }}">Meetings</a></li>
                            <li><a href="{{ route('events.index') }}">Events</a></li>
                        </ul>

                    {% endif %}

                {% endif %}

                <ul class="nav navbar-nav navbar-right">

                    {% if Auth.user().isBoardMember() %}
                        <li><a href="{{ route('settings.index') }}"><i class="glyphicon glyphicon-cog"></i> Settings</a></li>
                    {% endif %}

                    {% if Auth.check() %}
                        <li><a href="{{ route('logout') }}"><i class="glyphicon glyphicon-user"></i> Logout</a></li>
                    {% else %}
                        <li><a href="{{ route('auth') }}"><i class="glyphicon glyphicon-user"></i> Login</a></li>
                    {% endif %}

                </ul>
            </div><!--/.nav-collapse -->
        </div>
    </div>

    {% block body %}{% endblock %}

    <div class="footer">
        <hr />

        <p class="pull-left small">
            <a href="http://github.com/angelov/storgman" target="_blank">
                Storgman - Student Organizations Management
            </a>
            <br />
            Developed by <a href="http://github.com/angelov" target="_blank">Angelov Dejan</a>

        </p>

        <p class="pull-right small">
            <small>{{ Config.get('app.version') }},
                <a href="https://github.com/angelov/storgman/issues" target="_blank">
                    bugs?
                </a>
            </small>
        </p>
    </div>

</div> <!-- /container -->

{% block javascripts %}
    <script src="{{ asset("/static/assets/build/js/app.js") }}"></script>
{% endblock %}

</body>
</html>