<div class="panel panel-default document-item">
    <div class="panel-heading clearfix">
        <h3 class="panel-title  pull-left">{{ document.getTitle() }}</small></h3>
        <div class="pull-right document-actions" style="display: none;">
            <a class="has-tooltip btn-show-link" href="" data-toggle="tooltip" data-placement="top" title="Edit">
                <i class="glyphicon glyphicon-pencil"></i>
            </a>
            <a class="has-tooltip btn-delete-document" href="{{ route('documents.destroy', document.getId()) }}" data-toggle="tooltip" data-placement="top" title="Delete">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-md-12">
                <p>{{ document.getDescription() }}</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-9 small">
                <p>
                    Submitted by
                    <a href="{{ route('members.show', document.getSubmitter().getId()) }}">
                        {{ document.getSubmitter().getFullName() }}
                    </a>
                    on {{ document.getCreatedAt()|date('Y-m-d') }}.<br />
                    Visible to all members. {{ document.countOpenings() }} views by {{ document.countOpeners() }} members.
                </p>
            </div>

            <div class="col-md-2 small">
                <p>
                    Share:<br />
                    <a class="has-tooltip btn-fb-share" data-toggle="tooltip" data-placement="top" title="Share on Facebook" target="_blank"
                       href="https://www.facebook.com/sharer/sharer.php?u={{ route('documents.show', document.getId())|url_encode }}">
                        <i class="fa fa-facebook-square fa-lg"></i>
                    </a>
                    <a class="has-tooltip btn-twitter-share"
                       href="https://twitter.com/intent/tweet?text={{ "Document: " ~ document.getTitle() ~ " -"|url_encode }}&url={{ route('documents.show', document.getId())|url_encode }}"
                       data-toggle="tooltip" data-placement="top" title="Share on Twitter">
                        <i class="fa fa-twitter-square fa-lg"></i>
                    </a>
                    <a class="has-tooltip btn-show-link" href="" data-toggle="tooltip" data-placement="top" title="Get link">
                        <i class="fa fa-link fa-lg"></i>
                    </a>
                </p>
            </div>

            <div class="col-md-1">
                <a href="{{ route('documents.show', document.getId()) }}" class="btn btn-default pull-right">
                    <i class="glyphicon glyphicon-new-window"></i> View
                </a>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                Tags:
                <a href=""><span class="label" style="background-color: #999">Finances</span></a>
                <a href=""><span class="label label-success">Sponsors</span></a>
                <a href=""><span class="label label-default">Code App Level Up 2014</span></a>
                <a href=""><span class="label label-danger">Logistics</span></a>

            </div>
        </div>

        <div class="row document-share-link" style="margin-top: 20px; display: none;">
            <div class="col-md-12">
                <form class="form-inline">
                    <label>Use this link to share the document:</label>
                    <input type="text" style="width: 100%" class="form-control"
                           value="{{ route('documents.show', document.getId()) }}" disabled
                            />
                </form>
            </div>
        </div>
    </div>
</div>