{% set page_title = meeting.getTitle() ~ ' - Create meeting report' %}

{% extends "base.twig" %}

{% block body %}

    <h1><small>{{ meeting.getTitle() }}  <small>(<span class="date-to-format">{{ meeting.getDate()|date('Y-m-d') }}</span>)</small></small></h1>
    <h1>Create meeting report</h1>

    <div class="row">
        <div class="col-md-12">

            <form role="form" method="post" action="{{ route('meetings.reports.store', meeting.getId()) }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}" />

                {% if Session.has('errorMessages') %}
                    <div class="alert alert-danger">
                        <p><strong>Please fix the following errors:</strong></p>
                        <ul>
                            {% for message in Session.get('errorMessages') %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="row">

                    <div class="col-md-5">
                        <ul class="list-group text-right">
                            <li class="list-group-item text-muted text-left">Basic information</li>
                            <li class="list-group-item">
                                <span class="pull-left"><strong>Date:</strong></span>
                                <span class="date-to-format">{{ meeting.getDate() }}</span>
                            </li>
                            <li class="list-group-item">
                                <span class="pull-left"><strong>Location:</strong></span>
                                {{ meeting.getLocation() }}
                            </li>
                            <li class="list-group-item">
                                <span class="pull-left"><strong>Announced by:</strong></span>
                                {{ meeting.getCreator().getFullName() }}
                            </li>
                        </ul>
                    </div>
                    <div class="col-md-7">
                        <ul class="list-group">
                            <li class="list-group-item text-muted text-left">Announcement Details</li>
                            <li class="list-group-item">
                                <p>
                                    {{ meeting.getInfo()|raw }}
                                    <a href="" class="small">Read more...</a>
                                </p>
                            </li>
                        </ul>
                    </div>

                </div>

                <div class="row">
                    <div class="col-md-7">
                        <legend>
                            Meeting minutes:
                            <span class="text-muted small">(optional)</span>
                            <span class="pull-right text-muted has-tooltip"
                                  data-toggle="tooltip" data-placement="top" title="Visible only to Board Members">
                                <i class="btn-xs glyphicon glyphicon-lock"></i>
                            </span>
                        </legend>

                        <div class="form-group">
                            <textarea class="form-control" name="minutes" id="txt-meeting-details" rows="12"></textarea>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <legend>
                            Attendants:
                            <span class="pull-right text-muted has-tooltip"
                                  data-toggle="tooltip" data-placement="top" title="Visible only to Board Members">
                                <i class="btn-xs glyphicon glyphicon-lock"></i>
                            </span>
                        </legend>

                        <div class="form-group">
                            <label for="new-attendant">Enter member:</label>
                            <input type="text" id="new-attendant" class="form-control" placeholder="Start typing member's name..." />
                            <input type="hidden" id="attendants" value="|" name="attendants" />
                        </div>

                        <div id="attendants-list">
                            <p class="small text-right">No. of attendants: <span id="count-attendants">0</span></p>

                            <div id="tpl-attendant" class="attendant has-tooltip"
                                 data-toggle="tooltip">
                                <div class="delete-attendant">
                                    <div class="caption-content">
                                        <a href="#"><i class="glyphicon glyphicon-remove"></i></a>
                                    </div>
                                </div>
                                <img class="img-attendant" />
                            </div>


                        </div>
                    </div>
                </div>


                <div class="row pull-right">
                    <div class="col-md-12 ">
                        <button type="submit" class="btn btn-info" id="btn-create-meeting">Add the report</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}
