{% set page_title = 'Events' %}

{% extends "base.twig" %}

{% block body %}

    <div class="row vertical-center">
        <div class="col-md-7">
            <h1 style="margin-bottom: 30px;">{{ event.getTitle() }}</h1>
        </div>
    </div>

    <div class="row">

        <div class="col-md-3">
            <ul class="list-group text-right">
                <li class="list-group-item text-muted text-left">About the event</li>
                <li class="list-group-item text-left small">
                    <img src="{{ route('events.image', event.getId()) }}"
                         class="image" style="width: 100%; margin-bottom: 10px" />

                    <p>{{ event.getDescription() }}</p>
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Host:</strong></span>
                    {{ event.getHost().getTitle() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Date:</strong></span>
                    {{ event.getStartDate()|date("M d") }} -
                    {{ event.getEndDate()|date("M d, Y") }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Deadline:</strong></span>
                    {{ event.getDeadline()|date('d F Y, H:i') }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Time left:</strong></span>
                    19 days
                </li>
                <li class="list-group-item text-center">

                    <a href="{{ event.getUrl() }}" class="btn btn-default btn-sm" style="" target="_blank">
                        <i class="glyphicon glyphicon-new-window" style="margin-right: 3px;"></i>
                        Apply on <strong><span style="color: red">eestec.net</span></strong>
                    </a>
                </li>
            </ul>

            <ul class="list-group text-right">
                {% set city = event.getHost().getCity() %}
                <li class="list-group-item text-muted text-left">{{ city.getName() }}, {{ city.getCountry() }}</li>
                <li class="list-group-item text-left small">
                    <img src="{{ route('local-committees.cities.image', city.getId()) }}" class="image" style="width: 100%; margin-bottom: 10px" />

                    <p>{{ city.getDetails() }}</p>
                </li>
            </ul>
        </div>

        <div class="col-md-5">

            <ul class="list-group text-right">
                <li class="list-group-item text-left">
                    <form>
                        <div class="form-group">
                            <textarea class="form-control" placeholder="Leave a comment!" rows="3"></textarea>
                        </div>
                        <div class="form-group text-right text-muted">
                            <span class="pull-left">
                                <a href=""><i class="fa fa-smile-o fa-lg"></i></a>
                                <a href=""><i class="fa fa-picture-o fa-lg"></i></a>
                            </span>
                            <input type="submit" name="" class="btn btn-default btn-sm" value="Post it!" style="margin-bottom: -10px" />
                        </div>
                    </form>
                </li>

            </ul>

            <ul class="list-group ">
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <img src="{{ asset('static/assets/img/default-member-photo.png') }}"  style="width: 25px" />
                        Dejan Angelov
                    </span>
                    <span class=" text-muted small">2 hours ago</span>
                </li>
                <li class="list-group-item ">
                    Cool event! Обичен коментар шо не кажува ништо туку е само за пример.
                </li>
            </ul>

            <ul class="list-group ">
                <li class="list-group-item text-right">
                    <span class="pull-left">
                        <img src="{{ asset('static/assets/img/default-member-photo.png') }}"  style="width: 25px" />
                        Cool Guy
                    </span>
                    <span class=" text-muted small">Yesterday</span>
                </li>
                <li class="list-group-item ">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                    Nulla sapien magna, egestas id rhoncus quis, varius id risus.
                    Ut id tristique tortor. Maecenas et massa quis eros facilisis pulvinar.
                    Ut efficitur ut orci et porttitor. Quisque semper ultricies elit, non venenatis neque
                    interdum eu.

                    <img src="http://vignette3.wikia.nocookie.net/heyarnold/images/1/10/Cool_Party.jpg/revision/latest?cb=20100717205608"
                         style="width: 100%; margin: 10px 0 10px 0;" />
                </li>
            </ul>

        </div>

        <div class="col-md-4">

            <script type="text/javascript">
                {% set city = event.getHost().getCity() %}
                var cities = [{
                    name: "{{ event.getHost().getTitle() }}",
                    lat: "{{ city.getLocation().getLatitude() }}",
                    lon: "{{ city.getLocation().getLongitude() }}"
                }];
            </script>
            <div id="europe-map"></div>

            <ul class="list-group" style="margin-top: 10px;">
                <li class="list-group-item text-muted text-left">
                    Other upcoming events
                </li>
                <li class="list-group-item">

                    {% if upcoming|length > 0 %}

                        <table class="table table-striped">
                            <tbody>

                                {% for upcomingEvent in upcoming if not upcomingEvent.equals(event) %}

                                    <tr>
                                        <td>
                                            <a href="">
                                                {{ upcomingEvent.getTitle() }}
                                            </a>
                                        </td>
                                        <td>
                                            <span class="small">
                                                <i class="glyphicon glyphicon-home"></i>
                                                <strong>{{ upcomingEvent.getHost().getTitle() }}</strong>
                                            </span>
                                        </td>
                                    </tr>

                                {% endfor %}

                            </tbody>
                        </table>

                    {% else %}
                        <p class="small">There are no other upcoming events available.</p>
                    {% endif %}
                </li>
            </ul>

            <ul class="list-group" style="margin-top: 10px;">
                <li class="list-group-item text-muted text-left">
                    Other events by <strong>{{ event.getHost().getTitle() }}</strong>
                </li>
                <li class="list-group-item">

                    {% if event.getHost().getEvents()|length > 1 %}

                        <table class="table table-striped">
                            <tbody>

                            {% for otherEvent in event.getHost().getEvents() if not otherEvent.equals(event) %}

                                <tr>
                                    <td>
                                        <a href="">
                                            {{ otherEvent.getTitle() }}
                                        </a>
                                    </td>
                                    <td>
                                            <span class="small">
                                                {{ event.getStartDate()|date("Y") }}
                                            </span>
                                    </td>
                                </tr>

                            {% endfor %}

                            </tbody>
                        </table>

                    {% else %}
                        <p class="small">There are no other events organized by this LC.</p>
                    {% endif %}
                </li>
            </ul>
        </div>

    </div>

{% endblock %}

{% block javascripts %}

    {{ parent() }}

    <script type="text/javascript">
        $(function () {

            $('#europe-map').highcharts('Map', {
                chart : {
                    borderWidth : 0
                },
                credits: {
                    enabled: false
                },

                title : {
                    text : '',
                    enabled: false
                },

                legend: {
                    enabled: false
                },

                series : [{
                    name: 'Country',
                    mapData: Highcharts.maps['custom/europe'],
                    dataLabels: {
                        enabled: true,
                        color: '#FFFFFF',
                        formatter: function () {
                            if (this.point.value) {
                                return this.point.name;
                            }
                        }
                    },
                    tooltip: {
                        headerFormat: '',
                        pointFormat: '{point.name}'
                    }
                },
                    {
                        "type": "mappoint",
                        "marker": {
                            "symbol": "url({{ asset('static/assets/pin.png') }})"
                        },
                        "data": cities
                    }]
            });
        });
    </script>

{% endblock %}