{% set page_title = 'Announce a meeting' %}

{% extends "base.twig" %}

{% block body %}

    <h1>Announce a meeting:</h1>

    <div class="row">
        <div class="col-md-12">

            <form role="form" method="post" action="{{ route('meetings.store') }}">
                <input type="hidden" name="_token" value="{{ csrf_token() }}" />

                {% if Session.has('errorMessages') %}
                    <div class="alert alert-danger">
                        <p><strong>Please fix the following errors:</strong></p>
                        <ul>
                            {% for message in Session.get('errorMessages') %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}

                <div class="row">

                    <div class="col-md-5">
                        <legend>Basic information:</legend>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="title">Title:</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Regular weekly meeting">
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="location">Location:</label>
                                    <input type="text" class="form-control" id="location" name="location">
                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">
                                    <label for="date">Date:</label>
                                    <div class="input-group date">
                                        <input type="text" class="form-control" id="date" name="date"
                                            placeholder="{{ "tomorrow"|date("Y-m-d") }}">
                                        <span class="input-group-addon">
                                            <i class="glyphicon glyphicon-calendar"></i>
                                        </span>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="checkbox">
                                    <label><input type="checkbox" value="1" name="notify" checked>Send notification to all members</label>
                                </div>
                            </div>
                        </div>


                        <legend>Attached files</legend>

                        <div class="row"  id="actions">

                            <div class="col-md-12">
                                <span class="pull-left help-block small">
                                    You can also drag and drop your files here.<br />
                                    The files will be uploaded when you press the "Publish" button.
                                </span>

                                <span class="btn btn-info btn-sm fileinput-button pull-right">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Add file</span>
                                </span>

                            </div>

                        </div>

                        <div class="files" id="previews" style="margin-top: 15px;">


                            <div id="template" class="file-row" style="padding: 8px; border-top: 1px solid #ddd">

                                <div class="row">
                                    <div class="col-md-7">
                                        <span class="small" style="word-wrap: break-word" data-dz-name></span>
                                    </div>
                                    <div class="col-md-4 text-right">
                                        <span class="small text-muted" data-dz-size></span>
                                    </div>
                                    <div class="col-md-1 text-right" data-dz-remove>
                                        <a href="" class="delete">
                                            <i class="glyphicon glyphicon-remove"></i>
                                        </a>
                                    </div>
                                </div>

                            </div>

                        </div>

                    </div>

                    <div class="col-md-7">
                        <legend>Details:</legend>

                        <div class="form-group">
                            <textarea class="form-control" name="details" id="txt-meeting-details" rows="12"></textarea>
                        </div>

                        <input type="hidden" name="created_by" value="{{ Auth.user().getId() }}">
                    </div>

                </div>

                <div class="row pull-right">
                    <div class="col-md-12 ">
                        <button type="submit" class="btn btn-info" id="btn-create-meeting">Publish</button>
                    </div>
                </div>

            </form>

        </div>
    </div>

{% endblock %}