{% set page_title = 'Meetings' %}

{% extends "base.twig" %}

{% block body %}

    <h1>Meetings</h1>

    {% if Session.has('action-message') %}
        <div class="alert alert-success">
            <a class="close" data-hide="alert" href="#">×</a>
            <span>
                {{ Session.get('action-message') }}
            </span>
        </div>
    {% endif %}

    <div class="" id="action-status" style="display: none;">
        <a class="close" data-hide="alert" href="#">×</a>
        <span id="action-message"></span>
    </div>

    <div class="row">
        <div class="col-md-7">
            <p>There are total <strong>{{ meetings.total }}</strong> meetings.</p>
        </div>

        {% if member.isBoardMember() %}

            <div class="col-md-5 text-right">

                <a href="{{ route('meetings.create') }}" class="btn btn-info">
                    <i class="glyphicon glyphicon-plus"></i> Add meeting
                </a>

            </div>

        {% endif %}
    </div>

    <div class="row" style="margin-top: 15px;">
        <div class="col-md-12">
            <table class="table table-bordered table-striped">
                <input type="hidden" name="_token" id="csrf-token" value="{{ csrf_token() }}" />
                <thead>
                <tr>
                    <th>Title</th>
                    <th>Date</th>
                    <th>Location</th>
                    <th>Actions</th>
                </tr>
                </thead>
                <tbody>
                {% for meeting in meetings %}
                    <tr {% if meeting.needsReport() and member.isBoardMember() %} class="danger" {% endif %}>
                        <td>{{ meeting.getTitle() }}</td>
                        <td><span class="date-to-format">{{ meeting.getDate() }}</span>, {{ meeting.getTime()|date('H:i') }}</td>
                        <td>{{ meeting.getLocation() }}</td>
                        <td class="text-right">

                            {% if meeting.needsReport() and member.isBoardMember() %}
                                <a href="{{ route('meetings.reports.create', meeting.getId()) }}" class="btn btn-warning btn-xs has-tooltip"
                                    data-toggle="tooltip" data-placement="top" title="Please write the meeting's minutes and list the attendants">
                                    Write report
                                </a>
                            {% endif %}

                            {# view meeting details #}
                            <a href="{{ route('meetings.show', meeting.getId()) }}"
                               data-toggle="tooltip" data-placement="top" title="Details" class="has-tooltip">
                                <i class="glyphicon glyphicon-file"></i>
                            </a>

                            {% if member.isBoardMember() %}

                                {# edit meeting details #}
                                <a href="{{ route('meetings.edit', meeting.getId()) }}" data-toggle="tooltip"
                                   data-placement="top" title="Edit" class="has-tooltip">
                                    <i class="glyphicon glyphicon-pencil"></i>
                                </a>

                                {# delete meeting #}
                                <a data-toggle="tooltip" data-placement="top" title="Delete"
                                   href="{{ route('meetings.destroy', meeting.getId()) }}" data-meeting="{{ meeting.getId() }}"
                                   class="btn-delete-meeting has-tooltip">
                                    <i class="glyphicon glyphicon-trash"></i>
                                </a>

                            {% endif %}

                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

    <div class="text-right">
        {{ meetings.render()|raw }}
    </div>

{% endblock %}