{% set page_title = meeting.getTitle() ~ ' (' ~ meeting.getDate()|date('Y-m-d') ~ '), Meeting details' %}

{% extends "base.twig" %}

{% block body %}

    <h1>{{ meeting.getTitle() }} <small class="date-to-format">{{ meeting.getDate()|date('Y-m-d') }}</small></h1>

    {% if meeting.needsReport() %}
        <div class="alert alert-warning clearfix" role="alert">
            <p>
                <strong>Report needed!</strong>
                This meeting has passed, please write the minutes and list the attendants.

                <a href="{{ route('meetings.create-report') }}" class="btn btn-default btn-sm pull-right">
                    <i class="glyphicon glyphicon-pencil"></i>
                    Write report
                </a>
            </p>
        </div>
    {% endif %}

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-5">

            <ul class="list-group text-right">
                <li class="list-group-item text-muted text-left">Basic information</li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Title:</strong></span>
                    {{ meeting.getTitle() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Date:</strong></span>
                    <span class="date-to-format">{{ meeting.getDate() }}</span>
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Location:</strong></span>
                    {{ meeting.getLocation() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong># of attendants:</strong></span>
                    {% if meeting.hasReport() %}
                        {{ meeting.getAttendants()|length }}
                    {% else %}
                        /
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Announced by:</strong></span>
                    {{ meeting.getCreator().getFullName() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Report written by:</strong></span>
                    {% if meeting.hasReport() %}
                        {{ meeting.getReportAuthor().getFullName() }}
                    {% else %}
                        /
                    {% endif %}
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">Statistics</li>
                <li class="list-group-item">
                    <div class="row">
                        <div class="col-md-4">
                            <div id="chart-meeting-returning-members" style="margin-top: 10px; height: 160px"></div>
                        </div>

                        <div class="col-md-7">

                            <table class="table">
                                <thead>
                                <tr>
                                    <td></td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    <td>
                                            <span class="text-success">
                                                <i class="glyphicon glyphicon-arrow-up" style=""></i>
                                                <strong>5 more</strong>
                                            </span>
                                        attendants than the last meeting
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                            <span class="text-danger">
                                                <i class="glyphicon glyphicon-arrow-down" style=""></i>
                                                <strong>10 less</strong>
                                            </span>
                                        attendants than average
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </div>
                    </div>

                    <p class="small text-muted">
                        <br />
                        * New members are those members who hasn't attended the previous meeting.
                        Returning are those who has.
                    </p>

                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">
                    Files
                    <span class="pull-right small text-muted">
                        <a href="" class="btn btn-default btn-xs">
                            <i class="glyphicon glyphicon-download-alt"></i>
                            .zip
                        </a>
                    </span>
                </li>
                <li class="list-group-item">

                    <div id="template" class="file-row" style="padding: 8px;">
                        <div class="row">
                            <div class="col-md-7">
                                <span class="small" style="word-wrap: break-word">12422546_1504834719820763_n.mp4</span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span class="small text-muted">256 kb</span>
                            </div>
                            <div class="col-md-1 text-right">
                                <a href="" class="delete">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="template" class="file-row" style="padding: 8px; border-top: 1px solid #ddd">
                        <div class="row">
                            <div class="col-md-7">
                                <span class="small" style="word-wrap: break-word">pcb-v0.2-copy_etch_copper_top.pdf</span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span class="small text-muted">52 kb</span>
                            </div>
                            <div class="col-md-1 text-right">
                                <a href="" class="delete">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="template" class="file-row" style="padding: 8px; border-top: 1px solid #ddd">
                        <div class="row">
                            <div class="col-md-7">
                                <span class="small" style="word-wrap: break-word">belgrad.zip</span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span class="small text-muted">4.5 MB</span>
                            </div>
                            <div class="col-md-1 text-right">
                                <a href="" class="delete">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="template" class="file-row" style="padding: 8px; border-top: 1px solid #ddd">
                        <div class="row">
                            <div class="col-md-7">
                                <span class="small" style="word-wrap: break-word">selenium-server-standalone-2.49.1.jar</span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span class="small text-muted">30.9 MB</span>
                            </div>
                            <div class="col-md-1 text-right">
                                <a href="" class="delete">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                    <div id="template" class="file-row" style="padding: 8px; border-top: 1px solid #ddd">
                        <div class="row">
                            <div class="col-md-7">
                                <span class="small" style="word-wrap: break-word">growth.pdf</span>
                            </div>
                            <div class="col-md-4 text-right">
                                <span class="small text-muted">123 kb</span>
                            </div>
                            <div class="col-md-1 text-right">
                                <a href="" class="delete">
                                    <i class="glyphicon glyphicon-download-alt"></i>
                                </a>
                            </div>
                        </div>
                    </div>

                </li>
            </ul>


        </div>

        <div class="col-md-7">

            <ul class="list-group clearfix">
                <li class="list-group-item col-md-12" style="line-height: 10px;">

                    <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://google.com">
                        Tweet
                    </a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>

                    <span class="fb-share-button" data-href="{{ route('meetings.without-report') }}" data-layout="button_count" data-mobile-iframe="true">
                        <a class="fb-xfbml-parse-ignore" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ route('meetings.without-report') }}">
                            Share
                        </a>
                    </span>

                    <div class="fb-like" data-href="http://google.com" data-layout="standard" data-action="recommend" data-show-faces="false" data-share="false"></div>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">Announcement Details</li>
                <li class="list-group-item">
                    {{ meeting.getInfo()|raw }}
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">Meeting Minutes</li>
                <li class="list-group-item">
                    <p>{{ meeting.getMinutes()|raw }}</p>
                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">Attendants</li>
                <li class="list-group-item">

                    {% for attendant in meeting.getAttendants() %}

                        <a href="{{ route('members.show', attendant.getId()) }}" class="attendant has-tooltip"
                           data-toggle="tooltip" title="{{ attendant.getFullName() }}">
                            <img class="img-attendant" src="{{ route('imagecache', ['xsmall', attendant.getPhoto()]) }}" />
                        </a>

                    {% endfor %}

                </li>
            </ul>

        </div>

    </div>

{% endblock %}