{% set page_title = meeting.getTitle() ~ ' (' ~ meeting.getDate()|date('Y-m-d') ~ '), Meeting details' %}

{% extends "base.twig" %}

{% block body %}

    <h1>{{ meeting.getTitle() }} <small class="date-to-format">{{ meeting.getDate()|date('Y-m-d') }}</small></h1>

    {% if Session.has('action-message') %}
        <div class="alert alert-success">
            <a class="close" data-hide="alert" href="#">×</a>
            <span>
                {{ Session.get('action-message') }}
            </span>
        </div>
    {% endif %}

    {% include 'meetings.report-needed-check.twig' %}

    <div class="row" style="margin-top: 30px;">
        <div class="col-md-5">

            <ul class="list-group text-right">
                <li class="list-group-item text-muted text-left">Basic information</li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Title:</strong></span>
                    {{ meeting.getTitle() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Date:</strong></span>
                    <span class="date-to-format">{{ meeting.getDate() }}</span>,
                    {{ meeting.getTime() | date('H:i') }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Location:</strong></span>
                    {{ meeting.getLocation() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong># of attendants:</strong></span>
                    {% if meeting.hasReport() %}
                        {{ meeting.getAttendants()|length }}
                    {% else %}
                        /
                    {% endif %}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Announced by:</strong></span>
                    {{ meeting.getCreator().getFullName() }}
                </li>
                <li class="list-group-item">
                    <span class="pull-left"><strong>Report written by:</strong></span>
                    {% if meeting.hasReport() %}
                        {{ meeting.getReportAuthor().getFullName() }}
                    {% else %}
                        /
                    {% endif %}
                </li>
            </ul>

            {% if meeting.hasReport() %}

                <ul class="list-group">
                    <li class="list-group-item text-muted text-left">Statistics</li>
                    <li class="list-group-item">
                        <div class="row">
                            <div class="col-md-4">
                                <div id="chart-meeting-returning-members" style="margin-top: 10px; height: 160px"></div>
                            </div>

                            <div class="col-md-7">

                                <table class="table">
                                    <thead>
                                    <tr>
                                        <td></td>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td>
                                                <span class="text-success">
                                                    <i class="glyphicon glyphicon-arrow-up" style=""></i>
                                                    <strong>5 more</strong>
                                                </span>
                                            attendants than the last meeting
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                                <span class="text-danger">
                                                    <i class="glyphicon glyphicon-arrow-down" style=""></i>
                                                    <strong>10 less</strong>
                                                </span>
                                            attendants than average
                                        </td>
                                    </tr>
                                    </tbody>
                                </table>

                            </div>
                        </div>

                        <p class="small text-muted">
                            <br />
                            * New members are those members who hasn't attended the previous meeting.
                            Returning are those who has.
                        </p>

                    </li>
                </ul>

            {% endif %}

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">
                    Attachments

                    {% if meeting.hasAttachments() %}
                        <span class="pull-right small text-muted">
                            <a href="{{ route('meetings.attachments.index', {id: meeting.getId(), format: "zip"}) }}" class="btn btn-default btn-xs">
                                <i class="glyphicon glyphicon-download-alt"></i>
                                .zip
                            </a>
                        </span>
                    {% endif %}

                </li>
                <li class="list-group-item">

                    {% for attachment in meeting.getAttachments() %}

                        <div id="template" class="file-row" style="padding: 8px; {% if not loop.first %}border-top: 1px solid #ddd{% endif %}">
                            <div class="row">
                                <div class="col-md-7">
                                    <span class="small" style="word-wrap: break-word">
                                        {{ attachment.getFilename() }}
                                    </span>
                                </div>
                                <div class="col-md-4 text-right">
                                    <span class="small text-muted">{{ attachment.getSize() }}</span>
                                </div>
                                <div class="col-md-1 text-right">
                                    <a href="{{ route('meetings.attachments.show', attachment.getId()) }}">
                                        <i class="glyphicon glyphicon-download-alt"></i>
                                    </a>
                                </div>
                            </div>
                        </div>

                    {% else %}

                        <p class="help-block">No attachments available.</p>

                    {% endfor %}
                </li>
            </ul>


        </div>

        <div class="col-md-7">

            <ul class="list-group clearfix">
                <li class="list-group-item col-md-12" style="line-height: 10px;">

                    {% include 'meetings/social-share.twig' %}

                </li>
            </ul>

            <ul class="list-group">
                <li class="list-group-item text-muted text-left">Announcement Details</li>
                <li class="list-group-item">
                    {{ meeting.getInfo()|raw }}
                </li>
            </ul>

            {% if meeting.hasReport() %}

                <ul class="list-group">
                    <li class="list-group-item text-muted text-left">Meeting Minutes</li>
                    <li class="list-group-item">
                        <p>{{ meeting.getMinutes()|raw }}</p>
                    </li>
                </ul>

                <ul class="list-group">
                    <li class="list-group-item text-muted text-left">Attendants</li>
                    <li class="list-group-item">

                        {% for attendant in meeting.getAttendants() %}

                            <a href="{{ route('members.show', attendant.getId()) }}" class="attendant has-tooltip"
                               data-toggle="tooltip" title="{{ attendant.getFullName() }}">
                                <img class="img-attendant" src="{{ route('imagecache', ['xsmall', attendant.getPhoto()]) }}" />
                            </a>

                        {% endfor %}

                    </li>
                </ul>

            {% endif %}

        </div>

    </div>

{% endblock %}