<div class="row">

    <div class="col-md-8">

        <legend>New members per month</legend>
        <script type="text/javascript">
            var membersPerMonth = {};
            membersPerMonth.months = {{ perMonth.months|raw }};
            membersPerMonth.values = {{ perMonth.values|raw }};
        </script>
        <div id="chart-new-members" style="width:100%; height:200px;"></div>

    </div>

    <div class="col-md-4">
        <div class="well">
            <legend style="margin-top: -20px;"><i class="glyphicon glyphicon-gift"></i> Birthdays</legend>
            {% for member in withBirthday %}
                <div class="birthday">
                <img src="{{ route('imagecache', ['xsmall', member.getPhoto()]) }}" class="" />
                <span>
                    <strong>{{ member.getFullName() }}</strong>
                    <small><i>(turns {{ member.getAge() }})</i></small>
                </span>
                </div>
            {% else %}
                No birthdays today.
            {% endfor %}
        </div>
    </div>

</div>

<div class="row">

    <div class="col-md-4">
        <legend>Members from faculties</legend>

        <script type="text/javascript">
            var membersPerFaculty = {{ perFaculty|raw }};
        </script>
        <div id="chart-members-faculties"></div>
    </div>

    <div class="col-md-4">
        <legend>Quick numbers</legend>
        <div class="row">
            <div class="col-md-6 text-center">
                Members:<br />
                <h1>{{ byMembershipStatus.getTotal() }}</h1>
            </div>
            <div class="col-md-6 text-center">
                Active:<br />
                <h1>{{ byMembershipStatus.getActive() }}</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6 text-center">
                Meetings:<br />
                <h1>{{ attendance.meetings }}</h1>
            </div>
            <div class="col-md-6 text-center">
                Average attendants:<br />
                <h1>{{ attendance.average }}</h1>
            </div>
        </div>
    </div>

    {#<div class="col-md-4">
        <legend>Members per year</legend>
        <div id="chart-members-years"></div>
    </div>#}

</div>
