<div class="row">
    <div class="col-md-10">
        <a href="{{ route('members.edit', member.id) }}" class="text-muted pull-right"
                style="margin-top: 20px; margin-bottom: 10px;">
            <i class="glyphicon glyphicon-pencil"></i> Edit details
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Personal information</li>
            <li class="list-group-item">
                <span class="pull-left"><strong>First name:</strong></span>
                {{ member.first_name }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Last name:</strong></span>
                {{ member.last_name }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Birthday:</strong></span>
                <span class="date-to-format">{{ member.birthday }}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Education</li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Faculty:</strong></span>
                {{ member.faculty }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Field of study:</strong></span>
                {{ member.field_of_study }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>(Expected) year of graduation:</strong></span>
                {{ member.year_of_graduation }}
            </li>
        </ul>
    </div>
</div>

<div class="row">

    <div class="col-md-7">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Contact</li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Email:</strong></span>
                <a href="mailto:{{ member.email }}" target="_blank">
                    {{ member.email }}
                </a>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Web site:</strong></span>
                <a href="{{ member.website }}" target="_blank">
                    {{ member.website }}
                </a>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Phone:</strong></span>
                {{ member.phone }}
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Social networks</li>
            <li class="list-group-item">

                {% if member.facebook is defined %}
                <a href="https://facebook.com/{{ member.facebook }}" target="_blank">
                    <i class="fa fa-facebook-square fa-2x" style="display: inline;"></i>
                </a>
                {% endif %}

                {% if member.twitter is defined %}
                <a href="https://twitter.com/{{ member.twitter }}" target="_blank">
                    <i class="fa fa-twitter-square fa-2x"></i>
                </a>
                {% endif %}

                {% if member.google_plus is defined %}
                <a href="https://plus.google.com/{{ member.google_plus }}" target="_blank">
                    <i class="fa fa-google-plus-square fa-2x"></i>
                </a>
                {% endif %}

            </li>
        </ul>
    </div>
</div>