<div class="row">
    <div class="col-md-10">
        <a href="{{ route('members.edit', member.id) }}" class="text-muted pull-right"
                style="margin-top: 20px; margin-bottom: 10px;">
            <i class="glyphicon glyphicon-pencil"></i> Edit details
        </a>
    </div>
</div>

<div class="row">
    <div class="col-md-4">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Personal information</li>
            <li class="list-group-item">
                <span class="pull-left"><strong>First name:</strong></span>
                {{ member.getFirstName() }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Last name:</strong></span>
                {{ member.getLastName() }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Birthday:</strong></span>
                <span class="date-to-format">{{ member.getBirthday() }}</span>
            </li>
        </ul>
    </div>

    <div class="col-md-6">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Education</li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Faculty:</strong></span>
                {{ member.getFaculty() }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Field of study:</strong></span>
                {{ member.getFieldOfStudy() }}
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>(Expected) year of graduation:</strong></span>
                {{ member.getYearOfGraduation() }}
            </li>
        </ul>
    </div>
</div>

<div class="row">

    <div class="col-md-7">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Contact</li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Email:</strong></span>
                <a href="mailto:{{ member.getEmail() }}" target="_blank">
                    {{ member.getEmail() }}
                </a>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Web site:</strong></span>
                <a href="{{ member.getWebsite() }}" target="_blank">
                    {{ member.getWebsite() }}
                </a>
            </li>
            <li class="list-group-item">
                <span class="pull-left"><strong>Phone:</strong></span>
                {{ member.getPhoneNumber() }}
            </li>
        </ul>
    </div>

    <div class="col-md-3">
        <ul class="list-group text-right">
            <li class="list-group-item text-muted text-left">Social networks</li>
            <li class="list-group-item">

                {% if member.getFacebook() is defined %}
                <a href="https://facebook.com/{{ member.getFacebook() }}" target="_blank">
                    <i class="fa fa-facebook-square fa-2x" style="display: inline;"></i>
                </a>
                {% endif %}

                {% if member.getTwitter() is defined %}
                <a href="https://twitter.com/{{ member.getTwitter() }}" target="_blank">
                    <i class="fa fa-twitter-square fa-2x"></i>
                </a>
                {% endif %}

                {% if member.getGooglePlus() is defined %}
                <a href="https://plus.google.com/{{ member.getGooglePlus() }}" target="_blank">
                    <i class="fa fa-google-plus-square fa-2x"></i>
                </a>
                {% endif %}

            </li>
        </ul>
    </div>
</div>