<div class="modal-dialog">
    <div class="modal-content">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">{{ member.getFullName() }} <small>Renew membership</small></h4>
        </div>
        <div class="modal-body">

            <div class="" id="renew-status">
                <a class="close" data-hide="alert" href="#">×</a>
                    <span id="renew-message">
                    </span>
            </div>

            <dl class="dl-horizontal">
                <dt>Membership status:</dt>
                <dd>{{ member.getMembershipStatus() }}</dd>

                <dt>Expiration date:</dt>
                <dd>{{ member.getExpirationDate()|date('Y-m-d') }}</dd>
            </dl>

            <legend>Add new paid membership fee:</legend>

            <input type="hidden" id="fee-member-id" value="{{ member.getId() }}">
            <input type="hidden" name="_token" id="csrf-token" value="{{ csrf_token() }}" />

            <div class="row">
                <div class="col-md-6">
                    <label class="" for="exampleInputEmail2">From:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="fee-from" name="fee-from" value="{{ suggestDates.from }}">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                    </div>
                </div>

                <div class="col-md-6">
                    <label class="" for="exampleInputEmail2">To:</label>
                    <div class="input-group date">
                        <input type="text" class="form-control" id="fee-to" name="fee-to" value="{{ suggestDates.to }}">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                    </div>
                </div>
            </div>

        </div>
        <div class="modal-footer">
            <div class="pull-left">
                <a href="" target="_blank" class="btn btn-default">View fees</a>
            </div>
            <div class="pull-right">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <a href="{{ route('fees.store') }}" class="btn btn-primary" id="btn-proceed-fee">Proceed</a>
            </div>

        </div>
    </div>
</div>
