<div class="row">
    <div class="col-md-6">

        <legend>Personal Information</legend>

        <dl class="">
            <dt>First name:</dt>
            <dd>{{ member.first_name }}</dd>

            <dt>Last name:</dt>
            <dd>{{ member.last_name }}</dd>

            <dt>Birthday:</dt>
            <dd>{{ member.birthday }}</dd>

            <dt>Email:</dt>
            <dd>{{ member.email }}</dd>
        </dl>
    </div>

    <div class="col-md-6">
        <legend>Education</legend>

        <dl class="">
            <dt>Faculty:</dt>
            <dd>{{ member.faculty }}</dd>

            <dt>Field of study:</dt>
            <dd>{{ member.field_of_study }}</dd>
        </dl>
    </div>
</div>