<div class="row">
    <div class="col-md-5">

        <ul class="list-group" style="margin-top: 20px;">
            <li class="list-group-item text-muted text-left">
                Attendance
                <!--<span class="pull-right">
                    <div class="btn-group">
                        <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                            Last year <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="#">Action</a></li>
                            <li class="divider"></li>
                            <li><a href="#">Separated link</a></li>
                        </ul>
                    </div>

                </span> -->
            </li>
            <li class="list-group-item">
                <div class="row" style="margin-top: 10px">
                    <div class="col-md-3 text-center">
                        Total:<br />
                        <h3>{{ attendance.getTotal }}</h3>
                    </div>
                    <div class="col-md-3 text-center">
                        Attended:<br />
                        <h3>{{ attendance.getAttended }}</h3>
                    </div>
                    <div class="col-md-3 text-center">
                        Missed:<br />
                        <h3>{{ attendance.getMissed }}</h3>
                    </div>
                    <div class="col-md-3 text-center">
                        Rate:<br />
                        <h3>{{ attendance.getRate }}%</h3>
                    </div>
                </div>
            </li>
        </ul>

        <p class="small text-muted" style="margin-top: -10px !important;">
            * If the member joined less than a year ago, only the meetings since his joining are calculated.
        </p>

    </div>

    <div class="col-md-5">
        <ul class="list-group" style="margin-top: 20px;">
            <li class="list-group-item text-muted text-left">Latest meetings</li>
            <li class="list-group-item"  style="width: 100%; height: 150px">
                <div id="table-member-attendance" style="width: 100%;">
                    <table class="table table-striped small">
                        <tbody>

                        {% for report in latestMeetings %}
                            <tr class="member-meeting-status">
                                <td class="date-to-format">{{ report.getMeeting.date }}</td>
                                <td>
                                    {% if report.getAttended %}
                                        <strong>Attended</strong>
                                    {% else %}
                                        <strong>Missed</strong>
                                    {% endif %}
                                </td>
                            </tr>
                        {% endfor %}

                        </tbody>
                    </table>
                </div>
            </li>
    </div>
</div>

<div class="row">
    <div class="col-md-10">
        <ul class="list-group" style="margin-top: 20px;">
            <li class="list-group-item text-muted text-left">
                Meetings in the last year
                <span class="text-muted small">(not implemented yet)</span>
                <span id="chart-member-attendance-legend" class="pull-right small""></span>
            </li>
            <li class="list-group-item">
                <div id="chart-member-attendance" style="height: 200px; width: 670px"></div>
            </li>
        </ul>
    </div>
</div>