<div class="row">
    <div class="col-md-10">

        <ul class="list-group" style="margin-top: 20px;">
            <li class="list-group-item text-muted text-left">
                Membership
                <span class="pull-right">
                    <button type="button" class="btn btn-default btn-xs">
                        Renew membership
                    </button>
                </span>
            </li>
            <li class="list-group-item text-center" style="height: 100px;">
                <div class="row"  style="margin-top: 10px">
                    <div class="col-md-4">
                        Joined:<br />
                        <h4 style="margin-top: 15px;">
                            <i class="fa fa-calendar"></i>
                            <span class="date-to-format">{{ joinedDate }}</span>
                        </h4>
                    </div>
                    <div class="col-md-4">
                        Membership status:<br />
                        <h4 style="margin-top: 15px;">
                            {% if member.membership_status == 'Active' %}
                                <i class="fa fa-check"></i> Active
                            {% else %}
                                <i class="fa fa-times"></i> Inactive
                            {% endif %}
                        </h4>
                    </div>
                    <div class="col-md-4">
                        Expiration date:<br />
                        <h4 style="margin-top: 15px;">
                            <i class="fa fa-calendar"></i>
                            <span class="date-to-format">{{ member.membership_expiration_date }}</span>
                        </h4>
                    </div>
                </div>
            </li>
        </ul>

    </div>

</div>

<div class="row">
    <div class="col-md-10">
        <ul class="list-group">
            <li class="list-group-item text-muted text-left">
                Paid fees
            </li>
            <li class="list-group-item">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th>From</th>
                            <th>To</th>
                            <th>Paid on</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>

                        {% for fee in fees %}

                            <tr>
                                <td class="date-to-format">{{ fee.from_date }}</td>
                                <td class="date-to-format">{{ fee.to_date }}</td>
                                <td>{{ fee.created_at }}</td>
                                <td class="text-right">
                                    <a href="{{ route('fees.destroy', 5) }}" data-toggle="tooltip" data-placement="top"
                                       class="has-tooltip btn-delete-fee" data-fee="1" title="Delete">
                                        <i class="glyphicon glyphicon-trash"></i>
                                    </a>
                                </td>
                            </tr>

                        {% endfor %}

                    </tbody>
                </table>
            </li>
        </ul>
    </div>
</div>