{% set page_title = member.full_name ~ ', Edit details' %}
{% include 'header.twig' %}

<h1>Edit member details:</h1>

<div class="row">
    <div class="col-md-12">

        <form role="form" action="{{ route('members.update', member.id) }}" method="post" enctype="multipart/form-data">
            <input type="hidden" name="_method" value="PUT">

            {% if Session.has('errorMessages') %}
                <div class="alert alert-danger">
                    <p><strong>Please fix the following errors:</strong></p>
                    <ul>
                        {% for message in Session.get('errorMessages') %}
                            <li>{{ message }}</li>
                        {% endfor %}
                    </ul>
                </div>
            {% endif %}

            <div class="row">
                <div class="col-md-5">
                    <legend>Personal information:</legend>
                    <div class="form-group">
                        <label for="first_name">First name:</label>
                        <input type="text" class="form-control" id="first_name" name="first_name"
                               value="{{ member.first_name }}">
                    </div>

                    <div class="form-group">
                        <label for="last_name">Last name:</label>
                        <input type="text" class="form-control" id="last_name" name="last_name"
                               value="{{ member.last_name }}">
                    </div>

                    <div class="form-group">
                        <label for="birthday">Birthday:</label>
                        <div class="input-group date">
                            <input type="text" class="form-control" id="birthday" name="birthday"
                                   value="{{ member.birthday }}">
                            <span class="input-group-addon">
                                <i class="glyphicon glyphicon-calendar"></i>
                            </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email"
                               value="{{ member.email }}">
                    </div>

                    <legend>Education:</legend>

                    <div class="form-group">
                        <label for="faculty">Faculty:</label>
                        <input type="text" class="form-control" id="faculty" name="faculty"
                               value="{{ member.faculty }}">
                    </div>

                    <div class="form-group">
                        <label for="field_of_study">Field of study:</label>
                        <input type="text" class="form-control" id="field_of_study" name="field_of_study"
                               value="{{ member.field_of_study }}">
                    </div>

                </div>

                <div class="col-md-6 col-md-offset-1">
                    <legend>Photo:</legend>

                    <div class="row">
                        <div class="col-md-5" >
                            <div id="img-preview-photo"
                                 style="background-image: url({{ route('imagecache', ['medium', member.photo]) }})"></div>
                        </div>
                        <div class="col-md-7">

                            <div id="photo-upload">
                                <span class="btn btn-default fileinput-button">
                                    <i class="glyphicon glyphicon-plus"></i>
                                    <span>Select a file to upload</span>
                                    <input id="member-photo" type="file" name="member_photo" >
                                </span>

                                <p class="help-block small">
                                    The photo will be processed and cropped/resized to fit 400x400px in size.
                                </p>

                            </div>
                        </div>
                    </div>

                    <legend>Organization details:</legend>

                    {% set board_member = "" %}
                    {% if member.board_member %}
                        {% set board_member = "checked" %}
                    {% endif %}

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="board_member" value="1" {{ board_member }}> Board member
                        </label>
                    </div>

                    <div class="form-group">
                        <label for="position_title">Position title:</label>
                        <input type="text" class="form-control" id="position_title" name="position_title"
                               placeholder="eg. President" value="{{ member.position_title }}">
                        <p class="help-block small">Fill only if the member is part of the organization's board</p>
                    </div>

                </div>
            </div>

            <div class="row pull-right">
                <div class="col-md-12 ">
                    <button type="submit" class="btn btn-info" id="btn-submit-member">Update details</button>
                </div>
            </div>

        </form>

    </div>
</div>

{% include 'footer.twig' %}
