{% set page_title = member.full_name %}
{% include 'header.twig' %}

<h1>{{ member.full_name }}</h1>

<div class="modal fade" id="modal-renew-membership"></div>

<div class="row">

    <div class="col-md-3">
        <div class="row">
            <div class="col-md-12">
                <img src="{{ route('imagecache', ['medium', member.photo]) }}" alt="..."
                     class="img-thumbnail" style="width: 100%">
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <table class="table">
                    <thead>
                        <tr>
                            <td></td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>
                                <i class="glyphicon glyphicon-ok" style="margin-right: 5px;"></i> Active
                            </td>
                        </tr>

                        <tr>
                            <td>
                                {% if (member.board_member) %}
                                    <i class="glyphicon glyphicon-tower" style="margin-right: 5px;"></i> Board member
                                {% else %}
                                    <i class="glyphicon glyphicon-user" style="margin-right: 5px;"></i> Regular member
                                {% endif %}
                            </td>
                        </tr>

                        {% if (member.position_title is defined) %}
                            <tr>
                                <td>
                                    <i class="glyphicon glyphicon-briefcase" style="margin-right: 5px;"></i> {{ member.position_title }}
                                </td>
                            </tr>
                        {% endif %}
                    </tbody>
                </table>
            </div>

        </div>

    </div>

    <div class="col-md-9">
        <div class="row">
            <div class="col-m-12">
                <ul class="nav nav-tabs" role="tablist">
                    <li class="active"><a href="#basic" role="tab" data-toggle="tab">Basic info</a></li>
                    <li><a href="#membership" role="tab" data-toggle="tab">Membership</a></li>
                    <li><a href="#meetings" role="tab" data-toggle="tab">Meetings</a></li>
                    <li class="pull-right">
                        <a href="{{ route('members.edit', member.id) }}" class="text-muted"     >
                            <i class="glyphicon glyphicon-pencil"></i> Edit details
                        </a>
                    </li>
                </ul>
            </div>
        </div>

        <div class="row">
            <div class="col-md-12">
                <div class="tab-content">

                    {# *** IMPORTANT! *** #}
                    {# The tab content should be moved to separate template files #}

                    <div class="tab-pane active" id="basic">

                        <div class="row">
                            <div class="col-md-5">

                                <legend>Personal Information</legend>

                                <dl class="">
                                    <dt>First name:</dt>
                                    <dd>{{ member.first_name }}</dd>

                                    <dt>Last name:</dt>
                                    <dd>{{ member.last_name }}</dd>

                                    <dt>Birthday:</dt>
                                    <dd>{{ member.birthday }}</dd>

                                    <dt>Email:</dt>
                                    <dd>{{ member.email }}</dd>
                                </dl>
                            </div>

                            <div class="col-md-5">
                                <legend>Education</legend>

                                <dl class="">
                                    <dt>Faculty:</dt>
                                    <dd>{{ member.faculty }}</dd>

                                    <dt>Field of study:</dt>
                                    <dd>{{ member.field_of_study }}</dd>
                                </dl>
                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="membership">

                        <div class="row">
                            <legend>Membership details</legend>

                            <div class="col-md-12">
                                <dl class="">
                                    <dt>Membership status:</dt>
                                    <dd>{{ member.membership_status }}</dd>

                                    <dt>Expiration date:</dt>
                                    <dd>{{ member.membership_expiration_date }}</dd>
                                </dl>

                                <a href="{{ route('fees.create', {"member_id": member.id}) }}"
                                   class="btn btn-default btn-renew-membership" data-member="{{ member.id }}">
                                    <i class="fa fa-money"></i> Renew membership
                                </a>

                            </div>
                        </div>

                    </div>

                    <div class="tab-pane" id="meetings">
                        <div class="row">
                            <div class="col-md-5">
                                <legend>Meetings details</legend>

                                <dl class="">
                                    <dt>Meetings attendance rate:</dt>
                                    <dd>{{ attendanceRate }}%</dd>
                                </dl>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>

{% include 'footer.twig' %}
